body, html {
  margin: 0;
  padding: 0;
  font: 75%/120% sans-serif;
  background-color: gray;
  height: 100%;
}
.Demo{
  text-align: center;
  font-size: 3em;
  
}
#thumbs_left li {
  list-style: none;
  display:inline-block;
   width:120px; /* adjust */
   height:120px; /* adjust */
   margin-bottom: 5px;
}

#thumbs_right li {
  list-style: none;
  display:inline-block;
   width:120px; /* adjust */
   height:120px; /* adjust */
   margin-bottom: 5px;
}


#thumbs_left{
  width:120px;
  position: absolute;
  top:80px;
  left:-15px;
}

#thumbs_right{
  width:120px;
  position: absolute;
  top:80px;
  right:5px;
}

#myVideo {
transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0 ;
  align-items: center;
}

#thumbs_left img {
  width: 120px;
  height: 120px;
  
}

#thumbs_right img {
  width: 120px;
  height: 120px;
  
}

#thumbs_left :hover {
  border-color: navy;
}

#thumbs_right :hover {
  border-color: navy;
}

.left{
  float: left;
}

.right{
  float: right;
}

button {
  background-color: #666;
  border: medium none;
  color: #fff;
  display: block;
  font-size: 18px;
  left: 0;
  margin: 0 auto;
  padding: 8px 16px;
  position: absolute;
  right: 0;
  top: 50%;
  z-index: 2;
}

